*{
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.main-nav{
  display: flex;

  flex: 0.7;
  font-size: large;
  text-decoration: none;
}

.header{
  border: 1px;
  border-radius: 50px;
}
.main-nav li{
  list-style: none;
  margin-right:15px;
  cursor: pointer;

}

.trans-action{

  
  align-items:center;
  margin: auto;
  padding: auto;
 
}
.trans-action.active{
  background-color:coral;
  align-items:center;
  margin: auto;
  padding: auto;
  color:white;
}



.main-nav .active{
color: coral;

}
.avatar-container{
  margin-top: 20px;
  height: 400px;
  width: 400px;
}

.card-options{
  height: 100px;
}